name: Tests

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: compile
      run: make
    - name: install
      run: make install-local
    - name: run tests
      run: make test
